$theme-colors: (
  "primary": #E4E6C3,
  "secondary": #899878,
  "dark": #121113,
  "light": #F7F7F2,
  "muted": #222725
);

$modal-content-border-color: map-get($theme-colors, "secondary");
$modal-content-bg: (map-get($theme-colors, "dark"));
$modal-content-color: (map-get($theme-colors, "secondary"));
$btn-close-color: map-get($theme-colors, "secondary");
$modal-footer-border-color: map-get($theme-colors, "secondary");
$modal-header-border-color: map-get($theme-colors, "secondary");
.modal {
  .form-control {
    color: map-get($theme-colors, "primary") !important;
    border-style: none;
  }
}
@import "../../../IssueTrackerClient/node_modules/bootstrap/scss/bootstrap";
.navbar {
  .main-header {
    color: map-get($theme-colors, "secondary") !important;
  }

}
.dropdown-menu {
  .dropdown-item { color: map-get($theme-colors, "dark")}
}
html {
  height: 95%;
  margin: 0;
  padding: 0;
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .content {
    height: 85%;
    width: auto;
    overflow-x: visible;
    min-height: 9em;
  }
  .issue-board {
    .state-column {
      color: map-get($theme-colors, "secondary");
      background-color: map-get($theme-colors, "muted");
      min-width: 15em;
      max-width: 15em;
      border: 1px solid map-get($theme-colors, "secondary");
      .state-column-header {
        height: 3em;
      }
      .state-issues {
        height: 100%;
        overflow: auto;

        .issue {
          background-color: map-get($theme-colors, "secondary");
          color: map-get($theme-colors, "light");
          cursor: grab;
          .issue-name {
            font-size: 1em;
          }
          .menu
          {
            .meatballs-menu {
              cursor: pointer;
              .meatballs-icon {
                fill: #0c63e4;
              }
            }
            .internal-issue-menu {
              font-size: 0.5em;
            }
          }
          .hours {
            font-size: 0.5em;
          }
          .other {
            font-size: 0.7em;
          }
        }
      }
      .add-item-button {
        cursor: pointer;
        height: 2em;
        background-color: map-get($theme-colors, "muted");
        border-style: none;
        outline-style: none;
        color: map-get($theme-colors, "secondary");
      }
    }
  }
}